body {
  font-family: 'Roboto Condensed', sans-serif;
}

#rules {
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

img {
  width: 160px;
  height: 214px;
  border-style: solid;
}

.images {
  margin-left: 20px;
  padding: 20px;
}

#title {
  text-align: center;
}

h3 {
  font-size: 32px;
}

p {
  padding: 20px;
  line-height: 1.2;
}

#start {
  text-align: center;
}

.stats {
  padding: 10px;
}